*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 100%;
  height: 100vh;
  font-size: 0.8rem;
}

.app-wrapper{
  /* border: 3px solid black; */
  width: 100%;
  display: flex;
  flex-direction: column;
}
.header{
  /* border: 3px solid yellow; */
  padding: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: whitesmoke;
  background-color: rgba(3, 3, 3, 0.925);
}
.container-wrapper{
  /* border: 3px solid red; */
  height: 100vh; 
  display: flex;
  justify-content: center;
}

.grocery-list-wrapper{
  /* border: 3px solid blue; */
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 10px;
  width: 50%;
}
.ShoppingCart-wrapper{
  /* border: 3px solid purple; */
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 10px;
  width: 50%;
}
.cart-header {
  /* border: 3px solid rgb(236, 16, 236); */
  font-size: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.grocery-header{
  /* border: 3px solid rgb(240, 8, 8); */
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  width: 100%;
}

.cart-icon{
  height: 30px;
  width: 30px;
}
.cart-title{
  /* border: 3px solid rgb(90, 152, 245); */
  max-height: 15vh;
  font-size: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5px;
  padding: 5px 0px;
  background-color: rgba(173, 216, 230, 0.384);
}
.grocery-list-title{
  /* border: 3px solid rgb(71, 241, 56); */
  max-height: 15vh;
  font-size: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5px 0px;
  background-color: rgba(240, 128, 128, 0.342);
}
.grocery-icon{
    width: 30px; 
    height: 30px;
}
/* ------------------Shopping Cart ------------------*/
.cart-item-wrapper{
  /* border: 3px solid black; */
  height: 70vh;
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
} 
.empty-cart-btn{
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  background-color: rgb(10, 35, 63);
  color: whitesmoke;
  box-shadow: 1px 2px 8px 2px rgba(10, 58, 114, 0.466);
}
.empty-cart-btn:hover{
  background-color:  rgba(17, 61, 110, 0.966);
  color: whitesmoke;
}
.empty-cart-btn:active{
  box-shadow: 0px 0px 0px rgba(10, 35, 63, 0.356);
  outline: none;
}
.empty-cart-btn:focus{
  outline: none;
}
.cart-item{
    /* border: 3px solid blueviolet; */
    text-decoration: none;
    list-style: none;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}
.cart-item:nth-child(even){
  background-color: rgba(58, 172, 201, 0.788);
  box-shadow: 0.5px 1.5px 5px -0.15px rgba(10, 60, 85, 0.747);
  color: whitesmoke;
}
.cart-item:nth-child(odd){
  background-color: rgb(14, 84, 124);
  box-shadow: 0.5px 1.5px 5px -0.15px rgba(4, 22, 32, 0.877);
  color: whitesmoke;
}

/* -----------Grocery List ----------------------------*/
.grocery-wrapper{
  /* border: 3px solid black; */
  height: 70vh;
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
  /* min-width: 50%; */
}
/* ------------ Search input field and Add button---------------*/
.cart-empty{
  /* border: 3px solid rgb(170, 197, 15); */
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shopping-cart-message{
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}
.search-field-wrapper{
  /* border: 3px solid rgb(43, 207, 38); */
  width: 100%;
  display: flex;
  height: 15vh;
  justify-content: center;
  align-items: center;
  gap: 5px;  
}
.search-field-wrapper > input{
  padding: 5px ;
  width: 70%;
  border-color: rgba(216, 163, 153, 0.247);
  border-radius: 5px;
}
.search-field-wrapper > input:focus{
  outline: none;
}
.add-grocery-item-btn{
  border-radius: 5px;
  width: 20%;
  border: none;
  padding: 3px;
  height: 30px;
  background-color: rgba(216, 163, 153, 0.548);
  box-shadow: 1px 2px 4px 1px rgba(116, 38, 23, 0.466);
}
.add-grocery-item-btn:hover{
  background-color: rgba(216, 163, 153, 0.39);
}
.add-grocery-item-btn:active{
  box-shadow: 0px 0px 0px rgba(116, 38, 23, 0.466);
}

/* --------------------Shopping List Items--------------- */

.list-item{
  /* border: 3px solid blueviolet; */
  text-decoration: none;
  list-style: none;
  padding: 10px ;
  border-radius: 5px;
}
.list-item:nth-child(odd){
  background-color: rgba(224, 61, 20, 0.788);
  box-shadow: 1px 1.5px 2px  rgba(54, 16, 7, 0.37);
  color: whitesmoke;
}
.list-item:nth-child(odd):hover{
  background-color: rgb(224, 61, 20);
}
.list-item:nth-child(odd):active{
  box-shadow: 0px 0px 0px 0px rgba(224, 61, 20, 0.466);
}
.list-item:nth-child(even){
  background-color: rgb(255, 99, 71, 0.548);
  box-shadow: 1px 1.5px 2px  rgba(54, 16, 7, 0.37);
  color: whitesmoke;
}
.list-item:nth-child(even):hover{
  background-color: rgba(255, 99, 71, 0.664);
}
.list-item:nth-child(even):active{
  box-shadow: 0px 0px 0px 0px rgba(161, 46, 17, 0.397);
}

/* ----------------------------------------------- */


